<template>
	<div class=blog-post-page>
		<h3>{{ $page.title }}</h3>

		<p>{{ $page.preview }}</p>
	</div>
</template>

<script>
export default {
	data () {
		return {

		}
	},

	props: {
		post: {
			type: Object
		}
	},
}
</script>

<style lang=less>
.blog-post-page {
	text-align: center;
	text-decoration: underline;
}
</style>


