<template>
	<div class=home :style='{ "background-image": $page.background }'>
		<div class="hero">
			<h1>{{ $page.title }}</h1>

			<p class="description">
				{{ $page.intro }}
			</p>
		</div>

		<Content></Content>

		<section class=blog-links>
			<blog-post v-for='blog in blogs' :key='blog.key' :post='blog'></blog-post>
		</section>
	</div>
</template>

<script>
import BlogPost from '../components/comp-blog-post.vue'

export default {
	components: {
		BlogPost
	},

	computed: {
		blogs () {
			return this.$site.pages.filter(page => page.path.includes('/blog/'))
		}
	},

	mounted () {
		console.log(this)
	}
}
</script>

<style>
.home {
	text-align: center;
	padding: 1rem;
	height: 100vh;
}

.blog-links {
	max-width: 720px;
	width: 100%;
	display: block;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
}
</style>

