<template>
	<div class=blog>
		<div class="hero">
			<h1>{{ title }}</h1>
		</div>

		<Content></Content>
	</div>
</template>

<script>
export default {
	computed: {
		data () {
			return {
				...this.$page.frontmatter
			}
		},
	}
}
</script>

<style>
</style>

