<template>
	<header class="navbar">
		<router-link :to="$localePath" class="home-link" >
			Home
		</router-link>
	</header>
</template>

<script>

export default {

	data () {
		return {
			linksWrapMaxWidth: null
		}
	},

	mounted () {
	}
}
</script>

<style lang="stylus" src='../styles/config.styl'></style>
<style lang="stylus" src='../styles/navbar.styl'></style>
