<template functional>
	<div class=blog-post @click='parent.$router.push(props.post.path)'>
		<h3>{{ props.post.frontmatter.title }}</h3>

		<p>{{ props.post.frontmatter.preview }}</p>
	</div>
</template>

<style>
.blog-post {
	background-color:  silver;
	border-radius: 1rem;
}
</style>


