<template>
	<div class="theme-container" :class=$page.frontmatter.pageClass>

		<nav-bar />

		<component v-if="$page.frontmatter.layout" class="custom-layout" :is="$page.frontmatter.layout"/>
	</div>
</template>

<script>
import Vue from 'vue'
import PageHome from './layouts/page-home.vue'
import BlogPost from './layouts/page-blog-post.vue'

import NavBar from './components/comp-nav-bar.vue'

export default {
	components: {
		NavBar,
		PageHome,
		BlogPost
	},

	data () {
		return {
		}
	},

	methods: {
	},

	created () {
	}
}
</script>

<style src="prismjs/themes/prism-tomorrow.css"></style>
<style src="./styles/theme.styl" lang="stylus"></style>
